<div class="search">
  <h2 class="title-section mb-0">Defending our Audit market share and transforming how we do business</h2>

  <div class="dropdown search__dropdown">
    <div class="search__input-container" data-toggle="dropdown">
      <input type="text" class="search__input" placeholder="Search Defend portfolio for a client by name or ticker">
      <i class="icon-search"></i>
    </div>
    <div class="dropdown-menu">
      <div class="dropdown-item search-item">
        <span class="search-item__name">Client Name Inc.</span>
        <ul class="search-item__list">
          <li>Public</li>
          <li>CNI</li>
          <li>Orange County</li>
          <li>CA</li>
          <li>West</li>
          <li>{{ "common.region" | translate }}:</li>
        </ul>
      </div>
      <div class="dropdown-item search-item">
        <span class="search-item__name">Client Name Inc. 2</span>
        <ul class="search-item__list">
          <li>Public</li>
          <li>CNI</li>
          <li>Seattle</li>
          <li>CA</li>
          <li>West</li>
        </ul>
      </div>
      <div class="dropdown-item search-item">
        <span class="search-item__name">Client Name Inc. 3</span>
        <ul class="search-item__list">
          <li>Public</li>
          <li>CNI</li>
          <li>Washington DC</li>
          <li>CA</li>
          <li>East</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="client">
  <app-profile></app-profile>

  <tabset>
    <tab heading="Client Snapshot">
      <app-clientsnapshot></app-clientsnapshot>
    </tab>
    <tab heading="Fees / Revenue">
      <app-revenue></app-revenue>
    </tab>
    <tab heading="Team Information">
      <app-team-information></app-team-information>
    </tab>
    <tab heading="Notes">
      <!--<app-notes></app-notes>-->
    </tab>
  </tabset>
</div>