<div class="client-notes">
  <div class="client-notes__add">
    <button class="btn btn-primary">
      <i class="icon-plus"></i>
      {{ "client.notes.addNewNote" | translate }}
    </button>

    <div *ngFor="let note of notes$  | async" class="client-notes__note client-notes__note--viewed">
      <div class="client-notes__tilte">
        <h3>{{note.value}} </h3>
        <span> {{ "client.notes.modifiedBy" | translate }}: {{note.modifyBy}} </span>
      </div>
      <div class="client-notes__date">
        <span>{{ "client.notes.modifiedDate" | translate }}:</span>
        <span>{{note.modifyDate}} </span>
      </div>
    </div>

  </div>

  <div *ngFor="let note of notes$  | async" class="client-notes__description">
    <p class="my-3">{{ "client.notes.noNotes" | translate }}.</p>

    <div *ngFor="let topic of note.topics" class="form-group">
      <label>{{topic.title}}</label>
      <span>{{topic.value}}</span>
    </div>
    
    <button class="btn btn-secondary">
      <i class="icon-plus"></i>
      {{ "client.notes.addTopic" | translate }}
    </button>

    <div class="client-notes__footer">
      <button (click)="openConfirm(note,modalconfirm)" class="btn btn-secondary"> {{ "common.delete" | translate }}</button>
      <button class="btn btn-secondary"> {{ "common.cancel" | translate }}</button>
      <button (click)="addNote()" class="btn btn-primary"> {{ "common.save" | translate }} Note</button>
    </div>
  </div>
  <ng-template #modalconfirm>
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        {{ "client.notes.deleteNoteConfimation" | translate }}
      </h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>
        {{ "client.notes.deleteNoteQuestion" | translate }}
      </p>
      <div class="mt-2 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary mx-2" (click)="closeModal()">
          {{ "common.cancel" | translate }}
        </button>
        <button type="button" class="btn btn-primary mx2" (click)="deleteNote()">
          {{ "common.delete" | translate }}
        </button>
      </div>
    </div>
  </ng-template>
  <div class="d-none client-notes__additional-info">
    <div class="form-group form-group-highlight">
      <span>{{ "client.notes.modifiedBy" | translate }}: Viji Ramanath</span>
      <span>{{ "client.notes.modifiedOd" | translate }}: 04/10/2021</span>
    </div>
    <div class="form-group">
      <label>{{ "client.notes.vulnerabilityRisk" | translate }}</label>
      <span>High</span>
    </div>
    <div class="form-group">
      <label>{{ "client.notes.participants" | translate }}:</label>
      <span>Viji, Pranesh, Kristin...</span>
    </div>
    <div class="form-group">
      <label>{{ "client.notes.competitors" | translate }}:</label>
      <span>PWC, EY...</span>
    </div>
    <div class="form-group">
      <label>{{ "client.notes.relationships" | translate }}:</label>
      <span>-</span>
    </div>
  </div>
</div>