<h3 class="title-section">{{ "client.proxyStatementFees" | translate }}</h3>
<div class="table-fees-revenue">
  <table>

    <ng-container *ngIf="clientFee$ | async as clientFee; else  noData ">
      <thead>
        <tr>
          <th >{{ "client.typesfees" | translate }}</th>
          <th class="text-right">{{ "client.auditFees" | translate }}</th>
          <th class="text-right">{{ "client.auditRelatedFees" | translate }}</th>
          <th class="text-right">{{ "client.taxFees" | translate }}</th>
          <th class="text-right">{{ "client.allOtherFees" | translate }}</th>
          <th class="text-right"><strong> {{ "client.total" | translate }}</strong></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let fee of clientFee">
          <td>{{ fee.year }}</td>
          <td class="text-right">{{ fee.auditFees | currency:'':'symbol':'0.0-0'}}</td>
          <td class="text-right">{{ fee.auditRelatedFees | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right">{{ fee.taxFees | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right">{{ fee.otherFees | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"><strong> {{ fee.totalFees | currency:'':'symbol':'0.0-0' }}</strong> </td>
        </tr>
      </tbody>

    </ng-container>
  </table>
</div>
<ng-template #noData>
  <thead>
    <tr>
      <th>{{ "revenue.notData" | translate }} </th>
    </tr>
  </thead>
</ng-template>

<h3 class="title-section">{{ "client.netUSRevenue" | translate }}
  <i class="icon-info-w">
    <span class="custom-tooltip tooltip-sm">
      {{ "client.netUSRevenueDescription" | translate }}
    </span>
  </i>
</h3>
<div class="table-fees-revenue">
  <table>
    <ng-container *ngIf="clientRevenue$ | async as clientRevenue; else noData">
      <thead>
        <tr>
          <th>{{ "client.function" | translate }}</th>
          <th class="text-right">{{ fYActual }}</th>
          <th class="text-right">{{ fYPrevious }}</th>
          <th class="text-right">{{ fYPreviousPrevious }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ "revenue.audit" | translate }}</td>
          <td class="text-right"> {{ clientRevenue.currentYtdAudit | currency:'':'symbol':'0.0-0'}}</td>
          <td class="text-right"> {{ clientRevenue.previousYtdAudit | currency:'':'symbol':'0.0-0'}}</td>
          <td class="text-right"> {{ clientRevenue.ytd2Audit | currency:'':'symbol':'0.0-0'}}</td>
        </tr>
        <tr>
          <td>{{ "revenue.advisory" | translate }}</td>
          <td class="text-right"> {{ clientRevenue.currentYtdAdvisory | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.previousYtdAdvisory | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.ytd2Advisory | currency:'':'symbol':'0.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ "revenue.tax" | translate }} </td>
          <td class="text-right"> {{ clientRevenue.currentYtdTax | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.previousYtdTax | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.ytd2Tax | currency:'':'symbol':'0.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ "revenue.consulting" | translate }}</td>
          <td class="text-right"> {{ clientRevenue.currentYtdConsulting | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.previousYtdConsulting | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.ytd2Consulting | currency:'':'symbol':'0.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ "common.other" | translate }} </td>
          <td class="text-right"> {{ clientRevenue.currentYtdOthers | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.previousYtdOthers | currency:'':'symbol':'0.0-0' }}</td>
          <td class="text-right"> {{ clientRevenue.ytd2Others | currency:'':'symbol':'0.0-0' }}</td>
        </tr>
        <tr>
          <td><strong> {{ "client.total" | translate }} </strong> </td>
          <td class="text-right"><strong> {{ clientRevenue.currentYtdTotal | currency:'':'symbol':'0.0-0' }}</strong>
          </td>
          <td class="text-right"><strong> {{ clientRevenue.previousYtdTotal | currency:'':'symbol':'0.0-0' }}</strong>
          </td>
          <td class="text-right"><strong> {{ clientRevenue.ytd2Total | currency:'':'symbol':'0.0-0' }}</strong> </td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>