<h3 class="title-section">
  {{ "client.teamInformation.engagement" | translate }}
</h3>
<p class="client__paragrahp">
  {{ "client.teamInformation.listParagrahp" | translate }}
</p>

<h2 class="title-page"></h2>
<div class="table-roles">
  <table>
    <thead>
      <tr>
        <th>{{ "client.teamInformation.table.role" | translate }}</th>
        <th>{{ "client.teamInformation.table.currentPdm" | translate }}</th>
        <th>
          {{ "client.teamInformation.table.currentPdmStart" | translate }}
        </th>
        <th>{{ "client.teamInformation.table.currentPdmEnd" | translate }}</th>
        <th>
          {{ "client.teamInformation.table.SuccessionStatus" | translate }}
        </th>
        <th>{{ "client.teamInformation.table.SuccessorPdm" | translate }}</th>
        <th>{{ "client.teamInformation.table.PriorIncumbent" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="engagementTeamRolesInfo$ | async as engagementTeamRolesInfo">
        <tr *ngFor="let team of engagementTeamRolesInfo.items">
          <td>{{ team.role }}</td>
          <td>{{ team.currentPMD }}</td>
          <td>{{ team.currentPMDStart }}</td>
          <td>{{ team.currentPMDEnd }}</td>
          <td>{{ team.successionStatus }}</td>
          <td>{{ team.successorPMD }}</td>
          <td>{{ team.priorIncumbent }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <span class="information-source">{{
    "client.teamInformation.SourceADS" | translate
    }}</span>
</div>

<div class="title-page">
  <h3 class="title-section">
    {{ "client.teamInformation.ClientExecutives" | translate }}
  </h3>
  <div class="btn-group ml-auto">
    <button class="btn btn-primary" data-toggle="modal" data-target="#add-executive"
      (click)="openModal(AddClientExecutive)">
      <i class="icon-plus"></i>
      {{ "client.teamInformation.AddClientExecutive" | translate }}
    </button>
    <div *ngIf="clientExecutiveInfo$ | async as clientExecutiveInfo">
      <button *ngIf="clientExecutiveInfo.length > 0" class="btn btn-primary ml-3" (click)="exportHistoricalChanges()">
        {{ "client.teamInformation.Export" | translate }}
      </button>
    </div>
  </div>
</div>

<div class="table-scroll">
  <table class="table-executives">
    <thead>
      <tr>
        <th colspan="7"></th>
        <th colspan="5" class="table-executives__header">
          {{ "client.teamInformation.CrossBoardRelationship" | translate }}
        </th>
        <th></th>
      </tr>
      <tr>
        <th>{{ "client.teamInformation.table.Name" | translate }}</th>
        <th>
          {{ "client.teamInformation.table.RelationshipType" | translate }}
        </th>
        <th>{{ "client.teamInformation.table.CurrentRole" | translate }}</th>
        <th>{{ "client.teamInformation.table.RoleStartDate" | translate }}</th>
        <th>{{ "client.teamInformation.table.RoleTenure" | translate }}</th>
        <th>
          {{ "client.teamInformation.table.AuditFirmAlumni" | translate }}
        </th>
        <th>{{ "client.teamInformation.table.Committees" | translate }}</th>
        <th>
          {{
          "client.teamInformation.table.OtherCurrentBoardPositions"
          | translate
          }}
        </th>
        <th>
          {{ "client.teamInformation.table.CompanyRelationship" | translate }}
        </th>
        <th>{{ "client.teamInformation.table.CurrentAuditor" | translate }}</th>
        <th>{{ "client.teamInformation.table.Committees" | translate }}</th>
        <th>{{ "client.teamInformation.table.YearsOnBoard" | translate }}</th>
        <th>{{ "client.teamInformation.table.Actions" | translate }}</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngIf="clientExecutiveInfo$ | async as clientExecutiveInfo">
        <tr *ngFor="let client of clientExecutiveInfo">
          <td>
            <a target="_blank" href="https://na-deloitte.boardex.com/web/individual/{{client.id}}/profile">{{
              client.name }}</a>
          </td>
          <td [rowspan]="rowspanCrossposition(client)">
            <div class="dropdown dropRelationShip">
              <div class="dropdown ml-auto" ngbDropdown container="body">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                  <ng-container *ngIf="getRelationshipName(client.relationshipStrengthId)">
                    {{getRelationshipName(client.relationshipStrengthId)}}
                  </ng-container>
                  <ng-container *ngIf="!getRelationshipName(client.relationshipStrengthId)">
                    {{ "client.teamInformation.selectRelationship" | translate }}
                  </ng-container>
                </button>
                <ng-container *ngIf="relationshipStrength$ | async as relationshipStrength">
                  <div class="dropdown-menu dropRelationShip" aria-labelledby="dropdownMenuButton" ngbDropdownMenu>
                    <span (click)="openConfirmRelationship(client,confirmation, option.id)"
                      *ngFor="let option of relationshipStrength" class="dropdown-item" href="">{{
                      option.value }}</span>
                  </div>
                  <ng-template #confirmation>
                    <div class="modal-header">
                      <h4 class="modal-title pull-left">

                        {{ "client.teamInformation.ConfirmUpdateRelationshipType" | translate }}
                      </h4>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      <p>
                        {{ "client.teamInformation.UpdateRelationshipTypeQuestion" | translate }}
                      </p>
                      <div class="mt-2 d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary mx-2" (click)="closeModal()">
                          {{ "common.cancel" | translate }}
                        </button>
                        <button type="button" class="btn btn-primary mx2" (click)="updateRelationship()">
                          {{ "client.teamInformation.UpdateRelationshipType" | translate }}
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </ng-container>
              </div>
            </div>
          </td>

          <td [rowspan]="rowspanCrossposition(client)">
            {{ client.currentRole }}
          </td>
          <td [rowspan]="rowspanCrossposition(client)">
            {{ client.roleStartDate | date: 'shortDate'}}
          </td>
          <td [rowspan]="rowspanCrossposition(client)">
            {{ client.currentRoleTenure }}
          </td>
          <td [rowspan]="rowspanCrossposition(client)">
            {{ auditFirmSelected(client.auditFirmAlumni) }}
          </td>
          <td [rowspan]="rowspanCrossposition(client)"
            *ngIf="listCommitees(client.committeesListJSON) as listCommitees">
            <div *ngFor="let item of listCommitees">
              {{ item.name }}
            </div>
          </td>

          <ng-container *ngIf="
              client.crossBoardPosition?.length || 0 > 0;
              then showData;
              else noData
            ">
          </ng-container>

          <ng-template #showData>
            <ng-container>
              <td>
                <div class="cross-board">
                  <div *ngFor="let position of client.crossBoardPosition">
                    {{ position.otherCurrentBoardPosition }}
                  </div>
                </div>
              </td>
              <td>
                <div class="cross-board">
                  <div *ngFor="let position of client.crossBoardPosition">
                    <a *ngIf="position.duns" target="_blank"
                      href="https://srcm.deloitte.com/company?id={{position.duns}}">
                      {{ "client.teamInformation.viewInRCM" | translate }}
                    </a>
                  </div>
                </div>
              </td>
              <td>

                <div class="cross-board">
                  <div *ngFor="let position of client.crossBoardPosition">
                    {{ auditFirmSelected(position.currentAuditor) }}
                  </div>
                </div>
              </td>
              <td>
                <div *ngFor="let position of client.crossBoardPosition">
                  <div *ngIf="listCommitees(position.committeesListJSON) as listCommitees">
                    <div class="cross-board">
                      <div *ngFor="let item of listCommitees">
                        {{ item.name }}
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="cross-board">
                  <div *ngFor="let position of client.crossBoardPosition">
                    {{ position.yrsOnBoard }}
                  </div>
                </div>
              </td>
            </ng-container>
          </ng-template>
          <ng-template #noData>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </ng-template>
          <td>
            <div class="table-executives__actions">
              <i class="icon-edit" (click)="openEdit(client, AddClientExecutive)"></i>
              <i class="icon-delete" (click)="openConfirm(client, modalconfirm)"></i>
            </div>
          </td>
        </tr>

        <!--modal confirm  -->
        <ng-template #modalconfirm>
          <div class="modal-header">
            <h4 class="modal-title pull-left">
              {{ "client.teamInformation.ConfirmDeleteClientExecutive" | translate }}
            </h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <p>
              {{ "client.teamInformation.DeleteClientExecutiveQuestion" | translate }}
            </p>
            <div class="mt-2 d-flex justify-content-center">
              <button type="button" class="btn btn-secondary mx-2" (click)="closeModal()">
                {{ "common.cancel" | translate }}
              </button>
              <button type="button" class="btn btn-primary mx2" (click)="delete()">
                {{ "client.teamInformation.DeleteClientExecutive" | translate }}
              </button>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </tbody>
  </table>

  <span class="information-source">{{
    "client.teamInformation.sorceBoardEx" | translate }}</span>
</div>

<ng-template #AddClientExecutive>
  <app-client-executive [clientSelected]="clientSelected" (CloseEmmiter)="closeModal()"></app-client-executive>
</ng-template>