<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">
            {{ "client.teamInformation.addEditClientExecutive" | translate }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p class="mb-3">
            {{ "client.teamInformation.useFormManually" | translate }}
        </p>

        <div class="modal-executive">
            <div class="form-group">
                <label>{{ "client.teamInformation.name" | translate }}:</label>
                <input type="text" [(ngModel)]="clientExecutive.name" class="form-control" />
            </div>
            <div class="form-group">
                <label>{{ "client.teamInformation.relationshipType" | translate }}:</label>
                <div class="dropdown" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <div *ngIf="relationshipStrengthDropdown">
                            {{ relationshipStrengthDropdown.value }}
                        </div>
                        <div *ngIf="!relationshipStrengthDropdown">
                            {{
                            "client.teamInformation.selectRelationshipType" | translate
                            }}
                            <span class="caret"></span>
                        </div>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let relation of relationshipStrength$ | async">
                            <a class="dropdown-item" (click)="selectRelation(relation)">{{
                                relation.value
                                }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="modal-executive">
            <div class="form-group">
                <label>{{ "client.teamInformation.currentRole" | translate }}:</label>
                <input type="text" [(ngModel)]="clientExecutive.currentRole" class="form-control" />
            </div>
            <div class="form-group">
                <label>{{ "client.teamInformation.currentRoleStart" | translate }}:</label>
                <input type="text"
                    placeholder="Date"
                    class="form-control"
                    bsDatepicker
                    [bsConfig]="{ isAnimated: true, containerClass: 'theme-blue' }"
                    [(ngModel)]="clientExecutive.roleStartDate">
            </div>
            <div class="form-group">
                <label>{{
                    "client.teamInformation.currentRoleTenure" | translate
                    }}:</label>
                <input type="number" min="0" (focusout)="focusoutCurrentRoleTenure()"
                    [(ngModel)]="clientExecutive.currentRoleTenure" class="form-control" />
            </div>
        </div>

        <div class="modal-executive mb-3">
            <div class="form-group">
                <label>{{ "client.teamInformation.committees" | translate }}:</label>
                <div class="dropdown" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <div *ngIf="committeeCategoryDropdown">
                            {{ committeeCategoryDropdown.name }}
                        </div>
                        <div *ngIf="!committeeCategoryDropdown">
                            {{ "client.teamInformation.selectAllApply" | translate }}
                            <span class="caret"></span>
                        </div>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let commite of committeeCategory$ | async">
                            <a class="dropdown-item" (click)="selectCommite(commite)">{{
                                commite.name
                                }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label>{{ "client.teamInformation.auditFirmAlumni" | translate }}:</label>
                <div class="dropdown" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <div *ngIf="auditFirmDropdown">
                            {{ auditFirmDropdown.displayName }}
                        </div>
                        <div *ngIf="!auditFirmDropdown">
                            {{
                            "client.teamInformation.selectAuditFirm" | translate
                            }}
                            <span class="caret"></span>
                        </div>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let audit of auditFirm$ | async">
                            <a class="dropdown-item" (click)="selectAudit(audit)">{{
                                audit.displayName
                                }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <h3 class="title-section">
            {{ "client.teamInformation.crossBoardRelationships" | translate }}
        </h3>
        <p class="mb-3">
            {{ "client.teamInformation.ifCurrentBoard" | translate }}
        </p>
        <button class="btn btn-primary" data-toggle="collapse" data-target="#board-position"
            (click)="isAdding = !isAdding">
            <i class="icon-plus"></i>
            {{ "client.teamInformation.addBoardPosition" | translate }}
        </button>

        <div *ngIf="isAdding" class="modal-executive__position" id="board-position">
            <div class="form-group">
                <label>{{ "client.teamInformation.companyName" | translate }}:</label>
                <input type="text" [(ngModel)]="crossBoardPositionAdd.otherCurrentBoardPosition" class="form-control" />
            </div>

            <div class="form-group">
                <label>{{
                    "client.teamInformation.companyCurrentAuditor" | translate
                    }}:</label>
                <div class="dropdown" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <div *ngIf="auditFirmDropdownBoarding">
                            {{ auditFirmDropdownBoarding.displayName }}
                        </div>
                        <div *ngIf="!auditFirmDropdownBoarding">
                            {{
                            "client.teamInformation.selectAuditFirm" | translate
                            }}
                            <span class="caret"></span>
                        </div>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let audit of auditFirm$ | async">
                            <a class="dropdown-item" (click)="selectAuditBoarding(audit)">{{
                                audit.displayName
                                }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label>{{ "client.teamInformation.committees" | translate }}:</label>
                <div class="dropdown" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                        aria-controls="dropdown-basic">
                        <div *ngIf="committeeCategoryDropdownBoarding">
                            {{ committeeCategoryDropdownBoarding.name }}
                        </div>
                        <div *ngIf="!committeeCategoryDropdownBoarding">
                            {{ "client.teamInformation.selectAllApply" | translate }}
                            <span class="caret"></span>
                        </div>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-basic">
                        <li role="menuitem" *ngFor="let commite of committeeCategory$ | async">
                            <a class="dropdown-item" (click)="selectCommiteBoarding(commite)">{{
                                commite.name
                                }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group">
                <label>{{ "client.teamInformation.yearsBoard" | translate }}</label>
                <input type="number" min="0" (focusout)="focusoutyrsOnBoard()"
                    [(ngModel)]="crossBoardPositionAdd.yrsOnBoard" class="form-control" />
            </div>

            <div class="modal-executive__delete">
                <i class="icon-check-circle" (click)="addCrossBoarding()"></i>
                <i class="icon-delete" (click)="openConfirm(modalconfirm)"></i>
            </div>
        </div>

        <!-- Table Cross Boarding -->
        <div *ngIf="clientExecutive.crossBoardPosition?.length > 0" class="table-scroll">
            <table class="table-executives">
                <thead>
                    <tr>
                        <th>
                            {{ "client.teamInformation.companyName" | translate }}
                        </th>
                        <th>
                            {{ "client.teamInformation.companyCurrentAuditor" | translate }}
                        </th>
                        <th>
                            {{ "client.teamInformation.committees" | translate }}
                        </th>
                        <th>
                            {{ "client.teamInformation.yearsBoard" | translate }}
                        </th>
                        <th>
                            {{ "common.delete" | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cross of clientExecutive.crossBoardPosition">
                        <td>{{ cross.otherCurrentBoardPosition }}</td>
                        <td>
                            <label>{{auditFirmSelected(cross.currentAuditor)}}</label>
                        </td>
                        <td>
                            <div *ngIf="listCommitees(cross.committeesListJSON) as listCommitees">
                                <div *ngFor="let item of listCommitees">
                                    {{ item.name }}
                                </div>
                            </div>
                        </td>
                        <td>
                            {{ cross.yrsOnBoard }}
                        </td>
                        <td>
                            <div class="modal-executive__delete">
                                <i class="icon-delete" (click)="openConfirmGrid(cross, modalconfirmgrid)"></i>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">
                Cancel
            </button>
            <button class="btn btn-primary" (click)="save()">Save</button>
        </div>
    </div>
</div>

<ng-template #modalconfirm>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            {{ "client.teamInformation.confirmAcrossDeleteTitle" | translate }}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>{{ "client.teamInformation.confirmAcrossDelete" | translate }}</p>
        <div class="client-comment__actions">
            <button type="button" class="btn btn-secondary" (click)="closeModalConfirm()">
                {{ "common.cancel" | translate }}
            </button>
            <button type="button" class="btn btn-primary" (click)="cancelDelete()">
                {{ "common.delete" | translate }}
            </button>
        </div>
    </div>
</ng-template>

<ng-template #modalconfirmgrid>
    <div class="modal-header">
        <h4 class="modal-title pull-left">
            {{ "client.teamInformation.confirmAcrossDeleteTitle" | translate }}
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body text-center">
        <p>{{ "client.teamInformation.confirmAcrossDelete" | translate }}</p>
        <div class="client-comment__actions">
            <button type="button" class="btn btn-secondary" (click)="closeModalConfirm()">
                {{ "common.cancel" | translate }}
            </button>
            <button type="button" class="btn btn-primary" (click)="deleteCross()">
                {{ "common.delete" | translate }}
            </button>
        </div>
    </div>
</ng-template>