<dx-data-grid id="gridContainer" [dataSource]="dataSource" [allowColumnReordering]="true" [allowColumnResizing]="true"
    [columnAutoWidth]="true" [showBorders]="true"
    [remoteOperations]="{ paging: true, filtering: true, sorting: true, grouping: false, summary: false, groupPaging: false }"
    [wordWrapEnabled]="true" rowTemplate="rowTemplateName">
    <dxo-load-panel [enabled]="false"></dxo-load-panel>
    <dxo-scrolling mode="infinite"></dxo-scrolling>
    <dxo-paging pageSize="15"></dxo-paging>
    <dxo-filter-row [showOperationChooser]="false" [visible]="false"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

    <dxi-column dataField="client" caption="Client" width="150" [fixed]="true"></dxi-column>
    <dxi-column caption="Vulnerability Rating" alignment="center" [fixed]="true">
        <dxi-column dataField="rating" caption="Rating"></dxi-column>
        <dxi-column dataField="changed" caption="Change"></dxi-column>
        <dxi-column dataField="dateUpdated" caption="Date Updated" dataType="date" format="yyyy-MM-dd" width="100">
        </dxi-column>
    </dxi-column>
    <dxi-column dataField="program" caption="Program" width="150"></dxi-column>
    <dxi-column dataField="fees" caption="Audit/Related Fees (Revenue)" width="120"></dxi-column>
    <dxi-column dataField="auditorSince" caption="Auditor Since" dataType="date" format="yyyy-MM-dd" width="100">
    </dxi-column>
    <dxi-column dataField="filesSEC" caption="Files w/SEC"></dxi-column>
    <dxi-column dataField="companyType" caption="Company Type"></dxi-column>
    <dxi-column dataField="fiscalYearEnd" caption="FYE"></dxi-column>
    <dxi-column dataField="region" caption="Region"></dxi-column>
    <dxi-column dataField="office" caption="Office"></dxi-column>
    <dxi-column dataField="industrySector" caption="Industry Sector"></dxi-column>
    <dxi-column dataField="lcsp" caption="LCSP"></dxi-column>
    <dxi-column dataField="lcspYearsInRole" caption="LCSP Final Audit Year"></dxi-column>
    <dxi-column dataField="ap" caption="AP"></dxi-column>
    <dxi-column dataField="apYearsInRole" caption="AP Final Audit Year"></dxi-column>

    <tbody *dxTemplate="let client of 'rowTemplateName'">
        <tr>
            <td>
                <a href="#/client/{{client.data.id}}">{{client.data.client}}</a>
            </td>
            <td>{{client.data.rating}}</td>
            <td>{{client.data.changed}}</td>
            <td>{{client.data.dateUpdated | date: "M/d/yyyy"}}</td>
            <td>{{client.data.program}}</td>
            <td>{{client.data.fees}}</td>
            <td>{{client.data.auditorSince | date: "M/d/yyyy"}}</td>
            <td>{{client.data.filesSEC}}</td>
            <td>{{client.data.companyType}}</td>
            <td>{{client.data.fiscalYearEnd}}</td>
            <td>{{client.data.region}}</td>
            <td>{{client.data.office}}</td>
            <td>{{client.data.industrySector}}</td>
            <td>{{client.data.lcsp}}</td>
            <td>{{client.data.lcspYearsInRole}}</td>
            <td>{{client.data.ap}}</td>
            <td>{{client.data.apYearsInRole}}</td>
        </tr>
    </tbody>
</dx-data-grid>