<div  class="contact-us">
  <div class="contact-us__left">
    <h2 class="title-page">{{ "contactus.title" | translate }} </h2>
    <p class="contact-us__paragraph">{{ "contactus.questions" | translate }}<a
        href='{{ "contactus.defendTeamLink" | translate }}'>{{ "contactus.defendTeam" | translate }}</a>
      {{"contactus.forSupport" | translate}}</p>

    <p class="contact-us__paragraph">{{ "contactus.technicalSupportQuestions" | translate }}<span>
        {{ "contactus.usCallCenter" | translate }}</span>{{ "contactus.forOtherQuestions" | translate }}:</p>

    <h3 class="title-section">{{ "contactus.contentQuestion" | translate }}</h3>



    <div class="table-scroll pt-0">
      <table class="table">

        <thead>
          <tr>
            <th>{{ "contactus.questionsHeaderList.contact" | translate }} </th>
            <th>{{ "contactus.questionsHeaderList.title" | translate }} </th>
            <th>{{ "contactus.questionsHeaderList.location" | translate }} </th>
          </tr>
        </thead>
        <ng-container *ngIf="contentQuestionList$ | async as contentQuestionList">
        <tbody *ngFor="let person of contentQuestionList ">
          <tr>
            <td><a href="{{person.link}}" target="_blank">{{person.name}}</a></td>
            <td>{{person.title}}</td>
            <td>{{person.location}}</td>
          </tr>
        </tbody>
      </ng-container>
      </table>
    </div>

    <h3 class="title-section">{{ "contactus.technicalTitle" | translate }}</h3>
    <div class="table-scroll pt-0">
      <table class="table">
        <thead>
          <tr>
            <th>{{ "contactus.questionsHeaderList.contact" | translate }} </th>
            <th>{{ "contactus.questionsHeaderList.title" | translate }} </th>
            <th>{{ "contactus.questionsHeaderList.location" | translate }} </th>
          </tr>
        </thead>

        <ng-container *ngIf="technicalList$ | async as technicalList">
        <tbody *ngFor="let person of technicalList">
          <tr>
            <td><a href="{{person.link}}">{{person.name}}</a></td>
            <td>{{person.title}}</td>
            <td>{{person.location}}</td>
          </tr>
        </tbody>
      </ng-container>
      </table>
    </div>
  </div>

  <div class="contact-us__right">
    <h2 class="title-page">{{ "contactus.defendLeadership" | translate }}</h2>
    <ng-container *ngIf="defendLeadershipList$ | async as defendLeadershipList ">
      <div *ngFor="let person of defendLeadershipList" class="form-group">
        <label><a href="{{person.link}}" target="_blank">{{person.name}} </a></label>
      </div>
    </ng-container>

    <h3 class="title-section">{{ "contactus.regionalDefendTitle" | translate }} </h3>

    <ng-container *ngIf="regionalDefendList$ | async as regionalDefendList">
    <div *ngFor="let person of regionalDefendList">
      <div class="form-group">
        <label><a href="{{person.link}}" target="_blank">{{person.name}}</a></label>
        <span>{{person.region}}</span>
      </div>
    </div>
  </ng-container>
  </div>
</div>
